<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head th:replace="layaout/layaout :: head"></head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-primary btn-xs"
						th:href="@{'/ver/' + ${factura.cliente.id}}" th:text="'« volver'"></a>
				</h4>
				<form th:action="@{/factura/form}" th:object="${factura}"
					method="post">
					<div class="form-group row">
						<label class="form-label" th:text="'Cliente'"></label>
						<div class="mb-3">
							<input name="cliente"
								th:value="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellido}"
								class="form-control" disabled='disabled' />
						</div>
					</div>
					<div class="form-group row">
						<label for="descripcion" class="form-label"
							th:text="'Descripcion'"></label>
						<div class="mb-3">
							<input type="text" th:field="*{descripcion}" class="form-control"
								th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></div>
						</div>
					</div>
					<div class="form-group row">
						<label for="observacion" class="form-label"
							th:text="'Observacion'"></label>
						<div class="mb-3">
							<textarea th:field="*{observacion}" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="buscar_producto" class="form-label"
							th:text="'Buscar Producto'"></label>
						<div class="mb-3">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>
					<table th:replace="factura/plantilla-items :: detallesFactura"></table>
					<table id="cargarItemsProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Precio</th>
								<th>Cantidad</th>
								<th>Sub Total</th>
								<th>eliminar</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<h5>
						total <span class="badge bg-secondary" id="gran_total">0</span>
					</h5>
					<div class="form-group row">
						<div class="mb-3">
							<input type="submit" th:value="${titulo}" class="btn btn-success" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layaout/layaout :: footer"></footer>
	<script th:replace="factura/js/autocomplete-productos :: js"></script>
</body>
</html>