<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head"></head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{'/ver/' + ${factura.cliente.id}}"
						class="btn btn-primary btn-xs">« volver</a>
				</h4>
				<ul class="list-group my-4">
					<li class="list-group-item list-group-item-primary "
						th:text="'Datos del Cliente'"></li>
					<li class="list-group-item" th:text="${factura.cliente}"></li>
					<li class="list-group-item" th:text="${factura.cliente.email}"></li>
				</ul>
				<ul class="list-group">
					<li class="list-group-item list-group-item-dark text-white"
						th:text="'Datos de la Factura'"></li>
					<li class="list-group-item" th:text="'Folio: ' + ${factura.id}"></li>
					<li class="list-group-item"
						th:text="'Descripcion: ' + ${factura.descripcion}"></li>
					<li class="list-group-item"
						th:text="'Fecha: ' + ${factura.createAt}"></li>
				</ul>
				<div class="alert alert-info"
					th:if="${#lists.isEmpty(factura.items)}"
					th:text="'La Factura no tiene items. Descripcion de la Factura: ' + ${factura.descripcion}"></div>
				<table th:if="${not #lists.isEmpty(factura.items)}"
					class="table table-striped table-hover table-bordered mt-3">
					<thead class="bg-dark text-white">
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Sub Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item: ${factura.items}">
							<td th:text="${item.producto.nombre}"></td>
							<td th:text="${item.producto.precio}"></td>
							<td th:text="${item.cantidad}"></td>
							<td th:text="${item.calcularImporte()}"></td>
						</tr>
					</tbody>
				</table>
				<h5 class="float-end">
					Total <span th:text="${factura.total}" class="badge bg-secondary"></span>
				</h5>
				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observaciones</div>
					<div class="card-body">
						<p class="card-text" th:text="${factura.observacion}"
							th:if="${not #strings.isEmpty(factura.observacion)}"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(factura.observacion)}"
							th:text="'No tiene Observaciones'"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>