<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layaout/layaout :: head"></head>
<body>
	<header th:replace="layaout/layaout :: header"></header>
	<div class="container">
		<div class="card bg-light m-3">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/producto/form}" th:object="${producto}" method="post">
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre</label> <input
							type="text" th:field="*{nombre}" class="form-control"
							th:errorclass="'form-control alert alert-danger'"
							placeholder="nombre" /> <small
							th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
							class="form-text text-danger"></small>
					</div>
					<div class="mb-3">
						<label for="precio" class="form-label">Precio</label> <input
							type="number" th:field="*{precio}" class="form-control"
							th:errorclass="'form-control alert alert-danger'"
							placeholder="precio" /> <small
							th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"
							class="form-text text-danger"></small>
					</div>
					<input type="submit" value="Crear Producto"
						class="btn btn-success m-2" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layaout/layaout :: footer"></footer>
</body>
</html>